{% extends "base.html" %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="dist/styles/switchy.css" />
{% endblock styles %}

{% block content %}

<input type="hidden" id="committeeId" value="{{ committee.id }}" />
<div id="committeeHeader">
  <h3>תאריך ועדה:</h3>
  <h4>{{ committee.committeeDate }}</h4>
</div>

<div id="pagesCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for item in committee.committee_items %}
    
    <div class="item table_view" data-id="{{ item.pageId }}">
      <div class="img_container">
        <img src="{{ item.image }}" alt="page {{ item.pageId }}">
      </div>    
      <div class="details_top clearfix">
        <div class="table_input">
         <div class="form-group">
          <label for="tableNum">בקשה מספר:</label>
          <input type="text" class="form-control input-sm inline_input_heb text_size_xs" name="tableNum">
        </div>
      </div>
      <div class="request_input">        
          <label>בקשות:</label>
          <ul>
          </ul>
      </div>
      <div class="switch_container">
        <div class="switch_value request_table" data-value="2">טבלה</div>
        <select class="request_table_select" tabindex="-1">
          <option value="1">בקשה</option>
          <option value="2">טבלה</option>
        </select> 
        <div class="switch_value request_table" data-value="1">בקשה</div>        
      </div>
    </div>
    <div class="details_bottom">  
      <div class="details_bottom_inner">     
        <div class="table_input">
          <div class="transfers_header">
            <h5 class="articleId">מספר פרט</h5>
            <h5 class="articleName">שם הפרט</h5>
            <h5 class="amount">הוצאה</h5>
            <h5 class="amount_conditional">הוצאה מותנית</h5>
          </div>
          <ul class="transfers_list">
          </ul>
        </div>
        <div class="request_input">
        </div>
      </div>             
    </div>
    </div>          

    {% endfor %} 

  </div>

  <a class="left carousel-control" href="#pagesCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#pagesCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  var data = {{ committee.committee_items_json|safe }};
</script>

<script type="text/javascript" src="dist/bower_components/bootstrap/js/transition.js"></script>
<script type="text/javascript" src="dist/bower_components/bootstrap/js/carousel.js"></script>
<script type="text/javascript" src="dist/scripts/jquery.grow.js"></script>
<script type="text/javascript" src="dist/scripts/committee.js"></script>
<script type="text/javascript" src="dist/scripts/switchy.js"></script>
{% endblock scripts %}
