{% extends "base.html" %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="dist/styles/datepicker.css" />
{% endblock styles %}

{% block content %}
<div class="home_container">
 
  <header>
    <h1>פותחים את ועדת הכספים</h1>
  </header>

  <div id="dropzone" style="visibility:hidden">
    <div>גררו את ה-PDF לכאן <br>(או לחצו)</div>
  </div>

  <div id="committee-date" class="form-group">
    <label for="committeeDate">תאריך ועדה</label>
    <input type="text" class="form-control datepicker inline_input_heb text_size_m" id="committeeDate" data-inputId="committeeDateVal">
  </div>

  <div id="message"></div>

  <form class="continue" action="committee" method="post" accept-charset="utf-8">
    <input type="file" id="uploadBtn" value="upload PDF" />
    <input type="hidden" name="committeeDateVal" id="committeeDateVal" />
    <input type="hidden" name="requestFileUrl" id="requestFileUrl" />
    <input type="submit" class="btn btn-primary btn-large disabled" value="המשך" id="submit-button"/>
  </form>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
var uploadURL = "{{ uploadURL | safe }}";
</script>
<script type="text/javascript" src="dist/scripts/jquery.filedrop.js"></script>
<script type="text/javascript" src="dist/scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="dist/scripts/home.js"></script>
{% endblock scripts %}
