{% extends "base.html" %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="dist/styles/datepicker.css" />
{% endblock styles %}

{% block content %}
<div class="home_container">
  <div class="form-group">
    <label for="committeeDate">תאריך ועדה</label>
    <input type="text" class="form-control datepicker inline_input_heb text_size_m" id="committeeDate" data-inputId="committeeDateVal">
  </div>
 
  <div id="dropzone">
    <h6>גרור קובץ או לחץ</h6>
  </div>
  <form action="committee" method="post" accept-charset="utf-8">
    <input type="file" id="uploadBtn" value="upload PDF" />
    <input type="hidden" name="committeeDateVal" id="committeeDateVal" />
    <input type="hidden" name="requestFileUrl" id="requestFileUrl" />
    <input type="submit" class="btn btn-default" value="המשך" />
  </form>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
var uploadURL = "{{ uploadURL | safe }}";
</script>
<script type="text/javascript" src="dist/scripts/jquery.filedrop.js"></script>
<script type="text/javascript" src="dist/scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="dist/scripts/home.js"></script>
{% endblock scripts %}
